<tr class="border-b">
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= book.id %></td>
  <td scope="row" class="px-6 py-6 font-medium  whitespace-nowrap">
    <%= link_to "Showing #{book.showing_id}", booking_path(book.showing_id), class:"font-medium text-indigo-700 uppercase" %>
  </td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= booked_movie_title(book.showing_id) %></td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= booked_cinema_name(book.showing_id) %></td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= booked_cinema_date_time(book.showing_id) %></td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= current_user_seat(book.seat_id) %></td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= booked_user(book.user_id)%></td>
  <td class="px-6 py-6 font-normal text-gray-600 whitespace-normal"><%= time_tag book.created_at, "data-local": "time-ago" %></td>
  <td>
  </td>
</tr>

