<div class="mb-4">
  <h2 class="font-bold text-5xl text-gray-800">Add new showing</h2>
</div>
<%= form_with(model: [:admin, @showing], id: "#{dom_id(@showing)}_form") do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div class="mb-6">
    <%= form.label :movie %><br>
    <%= form.collection_select :movie_id, Movie.all, :id, :title, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

   <div class="mb-6">
    <%= form.label :cinema %><br>
    <%= form.collection_select :cinema_id, Cinema.all, :id, :name%>
  </div>

  <div class="mb-6">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  
  <div class="mb-6">
    <%= form.label :time %>
    <%= form.time_field :time, value: "%H:%M" %>
  </div>

  <div class="mb-6">
    <%= form.submit "Create show", class:"text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-1/4 px-5 py-2.5 text-center" %>
  </div>

<% end %>