<%= provide(:h1, "Showing")%>
<%= provide(:span, "These are the list available movie showings") %>
<%= provide(:new_path, new_admin_showing_path)%>
<%= provide(:button_name, "Add new")%>
<%= render "shared/landing"%>

<div class="relative overflow-x-auto mt-6">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-800 uppercase bg-gray-300">
      <tr>
        <th class="px-6 py-3" scope="col">ID</th>
        <th class="px-6 py-3" scope="col">Movie Title</th>
        <th class="px-6 py-3" scope="col">Cinema Name(location)</th>
        <th class="px-6 py-3" scope="col">Showing Date</th>
        <th class="px-6 py-3" scope="col">Showing Time</th>
        <th class="px-6 py-3" scope="col">Date Added</th>
        <th class="px-6 py-3" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @showings.each do |show| %>
        <%= render "showing", show: show%>
      <% end %>
    </tbody>
  </table>
</div>
