<%= provide(:title, "Admin")%>
<%= provide(:h1, "New Showing")%>
<%= provide(:span, "This is the page where you can add new showing.") %>
<%= render "shared/landing"%>

<div class="mt-6">
  <%= render "form" %>
</div>