<tr class=" border-b">
  <td scope="row" class="px-6 py-6 font-medium text-gray-900 whitespace-nowrap">
    <%= user.id %>
  </td>
  <td scope="row" class="px-6 py-6 font-medium text-indigo-700 uppercase whitespace-nowrap">
    <%= user.full_name %>
  </td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal"><%= user.email %></td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal"><%= user.mobile %></td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal uppercase"><%= user.role %></td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal"><%= time_tag user.created_at, "data-local": "time-ago" %></td>
</tr>