<%= form_with(model: [@booking], id: "#{dom_id(@booking)}_forms") do |form| %>
  <div class="field">
    <%= form.hidden_field :showing_id, value: @show.id %>
  </div>

  <div class="field">
    <%= form.label :seat_id, class:"block text-sm font-medium text-gray-900" %>
    <% unless Booking.exists?(seat_id: seat_id)%>
      <%= form.collection_select :seat_id, Seat.where(cinema_id: @show.cinema.id), :id, :seat_name %>
    <% end %>
  </div>

  <div class="mt-2">
    <%= form.submit "Book this movie", class:"text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded text-sm w-full px-5 py-2.5 text-center" %>
  </div>
<% end %>