<tr class=" border-b">
  <td scope="row" class="px-6 py-6 font-medium text-gray-900 whitespace-nowrap">
    <%= movie.id %>
  </td>
  <td scope="row" class="px-6 py-6 font-medium text-indigo-700 uppercase whitespace-nowrap">
    <%= link_to movie.title, admin_movie_path(movie) %>
  </td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal">Open</td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal"><%= time_tag movie.created_at, "data-local": "time-ago" %></td>
  <td class="px-6 py-6 font-normal text-gray-700 whitespace-normal"><%= movie.user.full_name  %></td>
  <td>
    <%= link_to "Edit", edit_admin_movie_path(movie), class:"text-yellow-600"%>
    <%= link_to "Delete", admin_movie_path(movie), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"text-red-600"%>
  </td>
</tr>