<%= provide(:title, "Admin")%>
<%= provide(:h1, "New Movie")%>
<%= provide(:span, "This is the page where you can add new movie.") %>
<%= render "shared/landing"%>

<div class="mt-6">
  <%= render "form" %>
</div>