<%= form_with(model: [:admin, @cinema], id: "#{dom_id(@cinema)}_form") do |form| %>
  <%= render "shared/error_messages", object: form.object %>

  <div class="mb-6">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

   <div class="mb-6">
    <%= form.label :seat_count %>
    <span>(If you leave the field empty, by default the available seats for the cinema you will create is 10.)</span>
    <%= form.number_field :seat_count %>
  </div>

  <div class="mb-6">
    <%= form.submit %>
  </div>

<% end %>