<%= provide(:h1, "Cinema")%>
<%= provide(:span, "These are the list of cinemas available") %>
<%= provide(:new_path, new_admin_cinema_path)%>
<%= provide(:button_name, "Add new Cinema")%>
<%= render "shared/landing"%>

<div class="relative overflow-x-auto mt-6">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-800 uppercase bg-gray-300">
      <tr>
        <th class="px-6 py-6" scope="col">ID</th>
        <th class="px-6 py-6" scope="col">Name</th>
        <th class="px-6 py-6" scope="col">Available Seats</th>
        <th class="px-6 py-6" scope="col">Date Added</th>
        <th class="px-6 py-6" scope="col">Listed or updated by(admin user)</th>
        <th class="px-6 py-6" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cinemas.each do |cinema| %>
      <%= render "cinema", cinema: cinema%>
      <% end %>
    </tbody>
  </table>
</div>
