<%= provide(:title, "Admin")%>
<%= provide(:h1, "New Cinema")%>
<%= provide(:span, "This is the page where you can add new cinema.") %>
<%= render "shared/landing"%>

<div class="mt-6">
  <%= render "form", cinema: @cinema %>
</div>